{
	"username":"GMAIL TO SEND FROM",
	"password":"SUPER SECRET PASSWORD",
	"pushoveruserkey":"Pushover.net User key",
	"pushovertoken":"Pushover.net App token",
	"retrylimit": 4,
	"retrydelay": 2,
	"statefilelocation": "/home/pi/Documents/pingMonitorState.json",
	"emaillimit":43200,
	"monitor": [
		{"IP":"192.168.1.1", "name":"Router"},
		{"IP": "192.168.1.2", "name":"Smart Light Bulb"}
	]
}
