{
	"username":"EMAIL TO SEND FROM USERNAME",
	"password":"EMAIL PASSWORD",
	"pushoveruserkey":"PUSHOVER USER KEY",
	"pushovertoken":"PUSHOVER APP TOKEN",
	"statefilelocation":"/home/pi/Documents/doorMonitorState.json",
	"byteordermapping": [
		{"name":"Front Door"},
		{"name":"Garage Door"},
		{"name":"Garage Yard Door"},
		{"name":"Garage Car Door"},
		{"name":"Patio Door"},
		{"name":"Bedroom Door"}
	]
}
